        <p>What is this new incredible idea?</p>
        <p class="quote">"This is the greatest idea of our time." - Barack Obama</p>
        <p class="quote">"My life has been meaningless until puppy island." - Bill Gates</p>
        <p>Presenting...</p>
        <h1>PUPPY ISLAND</h1>
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <img src="images/cute_puppy.JPG" alt="cute puppy"></img>
          <p class="credit">"Golden Retriever 12 weeks" by Beatrice Milek - <span class="int-own-work">Own work</span>. Licensed under <a href="http://creativecommons.org/licenses/by/3.0" title="Creative Commons Attribution 3.0">CC BY 3.0</a> via <a href="//commons.wikimedia.org/wiki/">Wikimedia Commons</a></p>
        </div>
        <div class="col-lg-6 col-md-6">
          <img src="images/island.jpg" alt="island"></img>
          <p class="credit">By Rzuwig - <span class="int-own-work">Own work</span>. Licensed under <a href="http://creativecommons.org/licenses/by/3.0" title="Creative Commons Attribution 3.0">CC BY 3.0</a> via <a href="//commons.wikimedia.org/wiki/">Wikimedia Commons</a></p>
        </div>
      </div>
      <p>Nothing is better than small adorable animals and warm weather! On this magical island you can pet puppies and live in paradise. Sign up today!</p>