.container {
	background: #478FB2; 
}

h1, p { 
	font-family: Verdana; 
}

h1 {
	text-align: center;
}

.credit {
	font-size: 11px;
	padding-top: 0;
	margin-top: 0;
}

img {
	width: 50%;
	height: 50%;
	padding-bottom: 0;
}

div {
    background: #478FB2; 
	color: white;
	text-align: center;
}

.quote {
	background-color: #66FFCC;
	color: black;
}